
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  background: #444;
  padding: 10px;
}
.navbar li {
  display: inline-block;
}
.navbar a{
  text-decoration: none;
  color: white;
}

.banner {
  position: relative;
  text-align: center;
  color: #555; 
}

.products {
  display: flex;
  gap: 10px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 10rem;
}


.products .card img {
  width: 120px;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 8px;
}
.gridItems{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer {
 position: relative;  
  width: 100%;
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
main{
  flex: 1;
}

 .page{
  height: 88vh;
} 

input, textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
}
textarea:focus, 
input:focus {
  outline: none;                
  border: 2px solid #007BFF; 

}
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;   
    align-items: center;      
    gap: 10px;                
  }

  .gridItems {
    flex-direction: column;   
    gap: 1rem;                
  }

  .products .card img {
    width: 100px;            
  }
}

@media (max-width: 480px) {
  

  .products {
    flex-direction: column;   
    align-items: center;
  }

  .card {
    width: 90%;               
    text-align: center;
  }

  input, textarea, button {
    width: 100%;              
    box-sizing: border-box;   
  }
}